<?xml version="1.0" encoding="UTF-8" ?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">
        <bean id = "motivationalServiceBean" class = "com.revature.services.MotivationalService"/>

    <bean id = "workoutServiceBean" class = "com.revature.services.WorkoutService"/>

<!--    Maybe lets create a definition for some track coach that I'll call my coach -->
    <bean id = "myCoach" class = "com.revature.models.TrackCoach">
        <constructor-arg ref = "workoutServiceBean"/>
        <constructor-arg ref = "motivationalServiceBean"/>
    </bean>

</beans>